main {
  padding: 64px 0;
  width: 1000px;
  margin: 0 auto;
  .third {
    width: 30%;
    float: left;
    clear: left;
    .item {
      width: 30%;
      float: left;
      margin-right: 5%;
      height: 88px;
      background: $grey;
      margin-bottom: 16px;
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
  .two-thirds {
    width: 60%;
    float: right;
    clear: right;
    .show {
      height: 40px;
      width: 100%;
      background: $red;
    }
  }
  .portfolio {
    clear: both;
  }
  .about {
    margin-bottom: 24px;
    h2 {
      color: $red;
      text-align: right;
    }
  }
}
